// ==========================================================================
// CIRCLE
// ==========================================================================

/*doc
---
title: Circle
name: circle
category: utilities
---

This class creates a circle over an image by using the `border-radius` property.

```html_example
<figure class="u-circle">
    <img src="http://placehold.it/500x500">
</figure>
<figure class="u-circle">
    <img src="http://placehold.it/100x100">
</figure>
```
*/

@import "tool-circle";

.u-circle {
    @include circle();
}
